[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
shortuuid = "*"
django-ckeditor = "*"
python-dotenv = "*"
django-storages = "*"
boto3 = "*"
django-ckeditor-5 = "*"
psycopg2 = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.12"
